.header {
  position: sticky;
  top: 0;
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: var(--background-color);
}
.nav-items {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.login-items {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.login-items span {
  cursor: pointer;
}
li {
  list-style: none;
}

.login {
  color: var(--white);
  background-color: var(--primary-color);
  padding: 0.8rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.5rem;
}
.sign-up {
  color: var(--black);
  padding: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.5rem;
}
.logo-wrapper span {
  color: var(--primary-color);
}

.logo-wrapper {
  font-weight: 600;
  font-size: larger;
}



.hello {
  color: var(--primary-color);
}

.logout{
  padding: 0.8rem 1.2rem;
  background-color: var(--primary-color);
  border-radius: .5rem;
  color: var(--white);
}