<nav>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav>Start</mat-sidenav>
    <mat-sidenav-content class="sidenav-item">
      <mat-icon
        aria-hidden="false"
        aria-label="dashboard"
        fontIcon="dashboard"
      ></mat-icon>
      Dashboard</mat-sidenav-content
    >
    <mat-sidenav-content class="sidenav-item">
      <mat-icon
        aria-hidden="false"
        aria-label="dashboard"
        fontIcon="dashboard"
      ></mat-icon>
      Dashboard</mat-sidenav-content
    >
    <mat-sidenav-content class="sidenav-item">
      <mat-icon
        aria-hidden="false"
        aria-label="dashboard"
        fontIcon="dashboard"
      ></mat-icon>
      Dashboard</mat-sidenav-content
    >
    <mat-sidenav-content class="sidenav-item">
      <mat-icon
        aria-hidden="false"
        aria-label="dashboard"
        fontIcon="dashboard"
      ></mat-icon>
      Dashboard</mat-sidenav-content
    >
  </mat-sidenav-container>
</nav>
<router-outlet></router-outlet>
